body {
	background: #f9f9f9;
}

div#select-block {
	padding-top: 15px;
}

div#img-block {
	text-align: center;
	/* position: relative; */
}

canvas#img-canvas {
	position: absolute;
}

canvas#position-canvas {
	position: relative;
}

.layer-table-align-right {
	text-align: right;
}

.layer-table-align-center {
	text-align: center;
}
