body {
	background: #f9f9f9;
}

div#select-block {
	padding-top: 15px;
}

div#img-block {
	text-align: center;
	/* position: relative; */
}

canvas#img-canvas {
	position: absolute;
	z-index: 1;
	display: none;
}

canvas#position-canvas {
	position: relative;
	z-index: 2;
	display: none;
}

table#layer-table {
	display: none;
}